* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
h1,
body,
h2,
h3,
h4,
h5,
h6,
table,
tr,
td,
th,
ol,
button,
p,
a,
ul,
li,
img {
  margin: 0;
  padding: 0;
}

body {
  background-color: #24272e;
  color: white;
  font-family: 'Cabin', sans-serif;
}

footer > p {
	margin-top: 10px;
	color: #fff;
	text-align: center;
}

footer {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #191a1f;
	padding: 40px calc((100% - 1170px) / 2);
}

main {
	margin-top: 30px;
  margin-bottom: 60px;
	margin-left: 244px;
	margin-right: 224px;
}

h1 {
	font-size: 36px;
	font-weight: 700;
}

ul, ol {
	line-height: 25px;
	margin-top: 20px;
  margin-left: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 18px;
}

main > div:first-of-type > ul{
  list-style-type: none;
  margin-left: 5px;
  font-size: 16px;
  width: 230px;
  line-height: 18px;
  font-weight: 400;
}

main > div:first > ul > li {
  text-decoration: none;
  color: white;
}

main > p {
	line-height: 32px;
	margin-top: 40px;
	font-size: 18px;
}

td {
  padding-top: 8px;
  padding-bottom: 8px;
}

main > table {
  display: flex;
  flex-direction: column;
	background-color: #191a1f;
  margin-top: 34px;
	overflow: auto;
}

main > table > tbody > tr:last-of-type {
	border-bottom: none;
}

main > table:not(:nth-of-type(4)) > tbody > tr, main > table:not(:nth-of-type(5)) > tbody > tr, main > table:not(:nth-of-type(6)) > tbody > tr {
	min-width: 680px;
  align-items: center;
  font-weight: 400;
  border-bottom: 1px solid #232939;
}

main > table:nth-of-type(4) > tbody > tr:first-of-type > td:first-of-type, main > table:nth-of-type(6) > tbody > tr:first-of-type > td:first-of-type {
  min-width: 170px;
  width: 170px;
}

main > table:nth-of-type(5) > tbody > tr:first-of-type > td:first-of-type {
  min-width: 100px;
  width: 100px;
}

main > table:nth-of-type(4) > tbody > tr:not(:first-of-type) > td:not(:first-of-type), main > table:nth-of-type(6) > tbody > tr:not(:first-of-type) > td:not(:first-of-type), main > table:nth-of-type(5) > tbody > tr:not(:first-of-type) > td:not(:first-of-type) {
  width: 170px;
}

main > table:not(:nth-of-type(4)) > tbody > tr > td:nth-of-type(1), main > table:not(:nth-of-type(5)) > tbody > tr > td:nth-of-type(1) {
  padding: 8px 0;
	color: white;
  padding-left: 10px;
	width: 200px;
}

main > table:nth-of-type(7) > tbody > tr > td:nth-of-type(1) {
  width: 55%;
}

main > table:nth-of-type(14) > tbody > tr > td:nth-of-type(1) {
  width: 150px;
  min-width: 150px;
}

main > table:nth-of-type(15) > tbody > tr > td:nth-of-type(1) {
  width: 150px;
  min-width: 150px;
}

main > table:nth-of-type(8) > tbody > tr > td:nth-of-type(1) {
  width: 40%;
}

main > table:nth-of-type(1) > tbody > tr > td:nth-of-type(1) {
  min-width: 290px;
  padding: 10px;
}

main > table > tbody > tr > td:nth-of-type(1) {
  border-right: 1px solid #232939;
  padding: 2px 0;
  font-weight: 600;
}

main > table:nth-of-type(4) > tbody > tr > td:nth-of-type(1), main > table:nth-of-type(5) > tbody > tr > td:nth-of-type(1), main > table:nth-of-type(6) > tbody > tr > td:nth-of-type(1) {
  border-right: none;
  width: max-content;
  min-width: 650px;
}

main > table > tbody > tr > td:nth-of-type(2) {
  padding-left: 8px;
  padding-right: 10px;
  font-weight: 400;
	color: white;
}

main > table:nth-of-type(15) > tbody > tr > td:nth-of-type(2) {
  min-width: 250px;
  width: 250px;
}

main > table:nth-of-type(15) > tbody > tr > td:nth-of-type(3) {
  min-width: 300px;
}

main > table:nth-of-type(14) > tbody > tr > td:nth-of-type(2) {
  min-width: 650px;
}

main > h1, main > h2, main > h3 {
	font-size: 1.5em;
	margin-top: 40px;
  color: #f8ff14;
}

h1 + p, h2 + p {
	margin-top: 0;
}

header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #191a1f;
	padding: 10px calc((100% - 1170px) / 2);
	z-index: 5;
}

main > div:first-of-type {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.list__container {
  margin-top: 30px;
  justify-content: space-between;
  gap: 20px;
  display: flex;
  align-items: center;
}

.license__container {
  margin-top: 0px;
}

.license__container > img {
  max-width: 260px;
  align-self: center;
  max-height: 276px;
}

.bonuses {
  margin-top: 40px;
  width: 70%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.registration {
  width: 260px;
  height: 260px;
}

.casino {
  width: 100%;
  margin-top: 30px;
}

.sport__container {
  gap: 15px;
  display: flex;
}

.sport {
  width: 25%;
}

.mobile {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
}

main > div:first-of-type > img {
  width: 66%;
}

@media (max-width: 1200px) {
	header {
		padding: 10px 20px;
	}

  .registration {
    align-self: center;
  }

  .list__container {
    flex-direction: column;
    gap: 40px;
    align-items: start;
  }

  .license__container > {
    align-self: center;
  }

  main > div:first-of-type {
    flex-direction: column;
  }

  main > div:first-of-type > img {
    align-self: center;
    width: 70%;
  }
}

@media (max-width: 1024px) {
	header {
		flex-wrap: wrap;
	}
}

header > div > svg:first-of-type {
	width: 250px;
	height: 117px;
}

@media (max-width: 920px) {
  .sport__container {
    flex-direction: column;
    gap: 30px ;
  }

  .sport {
    width: 100%;
  }
}
@media (max-width: 720px) {
  header > div > svg:first-of-type {
		width: 150px;
		height: 87px;
	}	

  main > div:first-of-type > img {
    width: 100%;
  }

  .mobile {
    width: 100%;
  }

  .bonuses {
    width: 100%;
  }

  .registration {
    width: 100%;
  }

  main > table:nth-of-type(10) > tbody > tr > td:nth-of-type(1),
  main > table:nth-of-type(11) > tbody > tr > td:nth-of-type(1),
  main > table:nth-of-type(12) > tbody > tr > td:nth-of-type(1),
  main > table:nth-of-type(13) > tbody > tr > td:nth-of-type(1) {
    width: 40%;
  }
}
header > div:first-of-type {
	min-width: 170px;
	width: 100%;
	max-height: 78px;
	color: #fff;
  text-align: center;
  display: flex;
	align-items: center;
	justify-content: center;
  width: 100%;
}


nav {
	position: relative;
	width: 100%;
}

@media (max-width: 1024px) {
	header > div:first-of-type {
		justify-content: center;
	}

	nav {
		max-width: 100%;
	}
}

@media (max-width: 768px) {
	header > div:first-of-type {
		min-height: 50px;
	}
}

nav ul {
	width: 100%;
	list-style: none;
	display: flex;
	align-items: center;
  flex-direction: row;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin-bottom: -20px;
}

@media (max-width: 1024px) {
	nav ul {
		justify-content: center;
	}
}

@media (max-width: 768px) {
	nav ul {
		display: inline-flex;
		align-items: center;
		padding-bottom: 20px;
		flex-direction: column;
		transition: all 0.3s linear;
	}
}

nav ul li {
	position: relative;
	margin: 0 10px 20px !important;
}

@media (max-width: 1024px) {
	nav ul li {
		margin: 0 45px;
		height: 35px;
		line-height: 35px;
	}
}

@media (max-width: 768px) {
	nav ul, nav {
		width: 125px;
	}
	nav ul li {
		margin: 0 0 5px !important;
		text-align: center;
		height: auto;
	}
}

nav ul li:first-child {
	margin-left: 0;
}

nav ul li a {
	background-color: #f8ff13;
}

nav ul li a,
nav ul li span {
	font-size: 14px;
	padding: 10px 15px;
	color: #232939;
	text-decoration: none;
	font-weight: 700;
	text-transform: uppercase;
}

nav ul li a:hover,
nav ul li span:hover {
	color: #affc80;
}

nav ul li.current-menu-item span {
	color: #affc80;
}

@media (max-width: 768px) {
	#nav-icon {
		display: none;
	}
}

.container {
	padding: 40px calc((100% - 1070px) / 2) 100px;
}

@media (max-width: 1200px) {
	.container {
		padding: 40px 20px 100px;
	}
}

@media (max-width: 768px) {
	header {
		justify-content: center;
    flex-wrap: nowrap;
	}

  .header__logo {
    width: 270px;
  }
}

main > table:nth-of-type(2), main > table:nth-of-type(3), .ninth__table {
	background-color: #191a1f;
	overflow: auto;
}

.second-table-title, .ninth-table-title {
  width: 140px;
}


main > table:nth-of-type(2) > tbody > tr, .ninth__table-row, main > table:nth-of-type(3) > tbody > tr {
  display: flex;
	justify-content: space-around;
  min-width: 630px;
  align-items: center;
  font-weight: 400;
  border-bottom: 1px solid #232939;
}

main > table:nth-of-type(2) > tbody > tr:last-of-type, main > table:nth-of-type(3) > tbody > tr:last-of-type:last-of-type, .ninth__table-row:last-of-type {
	border-bottom: none;
}

main > table:nth-of-type(2) > tbody > tr> td:first-of-type, main > table:nth-of-type(3) > tbody > tr> td:first-of-type, .ninth__table-title {
  padding: 8px 0;
  padding-left: 10px;
}

main > table:nth-of-type(2) > tbody > tr> td:first-of-type, main > table:nth-of-type(3) > tbody > tr> td:first-of-type, .ninth__table-title-container {
  padding: 2px 0;
  width: 170px;
  font-weight: 600;
  border-right: 1px solid #232939;
}

main > table:nth-of-type(2) > tbody > tr> td:first-of-type, main > table:nth-of-type(3) > tbody > tr> td:first-of-type {
  border-right: none;
}

table:nth-of-type(2) > tbody > tr > td:not(:first-of-type), table:nth-of-type(3) > tbody > tr > td:not(:first-of-type), .ninth__table-description {
  padding-left: 8px;
  padding-right: 10px;
  font-weight: 400;
}

main > table:nth-of-type(2) > tbody > tr > td:last-of-type, main > table:nth-of-type(3) > tbody > tr > td:last-of-type {
  min-width: 180px;
}

.ninth-table-description {
  width: 380px;
}

@media (max-width: 1200px) {
  .third-table-description, .ninth-table-description {
		right: 0px;
	}	
}

@media (max-width: 768px) {
  .third-table-description, .ninth-table-description{
		position: static;
	}	
}

table:nth-of-type(3) > tbody > tr > td:first-of-type, .ninth__table-row--first {
  padding: 13px 0;
  width: 100%;
}

.ninth__table-title-container {
  border-right: none;
}

main > table:nth-of-type(2) > tbody > tr > td:nth-last-of-type(2), main > table:nth-of-type(3) > tbody > tr > td:nth-last-of-type(2), .ninth__table-description--with-width {
  width: 30%;
}

main > table:nth-of-type(1) > tbody > tr > td:nth-of-type(2) {
  min-width: 650px;
  padding: 5px;
}

.fourth-table-title {
  width: 135px;
}

.sixth-table-title {
  width:  135px;
}

.eighth-table-title {
  width: 135px;
}

.seventh-table-title {
  width: 135px;
}

.table-title-transparent {
  color: transparent;
}

.sixth-table-row {
  border-bottom: 0px;
}

h1 {
	font-size: 36px;
  color: #f8ff14;
	font-weight: 700;
}

.seventh-table-description, .eighth-table-description, .ninth-table-description {
  padding-top: 3px;
  padding-bottom: 3px;
}

li::marker {
  color: #f8ff14;
}

footer > div {
  display: none;
}

@media (max-width: 1200px) {
	main {
		margin-top: 50px;
		margin-left: 116px;
		margin-right: 99px;
	}
}

@media (max-width: 720px) {
  main {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 80px;
  }

  footer > div > a {
    text-decoration: none;
    display: inline-block;
    margin-top: 46px;
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    padding: 12px 0;
    text-transform: uppercase;
    text-align: center;
    width: calc(50% - 17px);
    position: fixed;
    bottom: 0px;
  }


  footer > div {
    display: flex;
    background-color: #232939;
    padding-right: 12px;
    gap: 10px;
  }

  footer > div > a:first-of-type {
    color: black;
    background-color: #f8ff13;
    left: 12px;
  }

  footer > div > a:last-of-type {
    background: #03B08A;
    right: 12px;
  }

  footer > p {
    margin-bottom: 80px;
  }
}

a {
  color: white;
  text-decoration: none;
}

.yellowlink {
  color: #f8ff14;
}

table + div {
  background-position: 90% 33%;
  overflow: hidden;
  height: 270px;
  background-color: #0026F5;
  background-image: url('../images/pb_bonus.jpg');
  background-size: cover;
  background-position: 30%;
  background-repeat: no-repeat;
  margin: 0 auto;
	align-items: end;
	position: relative;
	margin-top: 30px;
  height: 270px;
  margin-top: 40px;
}

.bonus-image--second {
  background-image: url("../images/bonus-image-second.jpg");
  background-position: 0%;
}

.small__images {
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
	position: absolute;
	bottom: 16px;
	width: 100%;
	white-space: nowrap;
	gap: 10px;
}

table + div > div {
  z-index: 12;
  position: relative;
	top: 30px;
	width: 90%;
  margin: 0 auto;
}

table + div > div >  div > p:first-of-type {
  color: white;
  font-weight: 800;
  font-size: 28px;
}

table + div > div >  div > p:last-of-type {
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin-top: 8px;
  margin-bottom: 32px;
}

table + div > div > div > a {
  font-weight: 700;
  font-size: 15px;
  line-height: 21px;
  color: #1D222F;
  background-color: #f8ff13;
  padding: 12px 20px;
  text-decoration: none;
}


.third-table-title {
  width: 160px;
}

@media (max-width: 1200px) {
  table + div > div > p:first-of-type {
    font-size: 24px;
  }

  table + div > div >  div > p:last-of-type {
    font-size: 16px;
  }

  .bonus-image {
    background-position: 50%;
  }

  .bonus-image--second {
    background-position: 25%;
  }
}

@media (max-width: 720px) {
  table + div > div >  div > p:last-of-type {
    font-size: 13px;
  }

  .bonus-image-container {
    width: calc(100% - 32px);
    margin-left: 0px;
    margin-right: 0px;
    height: 273px;
  }

  table + div {
    background-repeat: no-repeat;
    width: 100%;
    background-position: 40%;
  }

  .bonus-image--second {
    background-position: 25%;
  }

  table + div > div {
    left: 0px;
    width: calc(100% - 23px);
    top: 40px;
  }

  table + div > div > div > p:first-of-type {
    font-size: 18px;
  }

  table + div > div > div > a {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
	table + div {
		background-position: 100%;
    background-image: url('../images/pb_bonus-mobile.jpg');
	}

  .bonus-image--second {
    background-image: url('../images/bonus-image-second-mobile.jpg');
  }
}

.main__feedback-title {
  font-size: 24px;
  color: white;
  font-weight: 700;
  line-height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div:last-of-type > div {
  background-color: #191a1f;
  display: flex;
  padding: 40px 66px;
  gap: 65px;
  align-items: center;
}

main > div:last-of-type > div > div > img {
  height: 183px;
  width: 183px;
  border-radius: 50%;
}

main > div:last-of-type > div > div > img {
  font-weight: 700;
  font-size: 22px;
}

main > div:last-of-type > div > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

main > div:last-of-type > div > p {
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
}

main > div:last-of-type {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 50px;
}

@media (max-width: 1200px) {
  main > div:last-of-type > div {
    padding: 30px 34px;
    gap: 35px;
  }

  main > div:last-of-type > div > p {
    line-height: 23px;
  }
}

@media (max-width: 720px) {
  main > div:last-of-type > div {
    padding: 30px 34px;
    gap: 35px;
    text-align: center;
    flex-direction: column;
  }

  main > div:last-of-type > div > p {
    text-align: center;
  }

  main > div:last-of-type {
    gap: 30px;
  }
}